import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/mixins'
@import 'helpers/fonts'
@import 'helpers/optimize'

import('../blocks/**/*')


svg.svg--overflow
    overflow visible

body 
    font-family 'Montserrat', sans-serif

// .container
//     width 1366px
//     margin 0 auto
.row
    clearfix()

use.svg-icon-social
    fill svg-icon-white

use.svg-icon-plane
    fill text-gray


// use.svg-icon-search:hover
//     fill #fff

// use.black-color
//     fill #666

// .icon > svg
//     vertical-align middle
 

