include ../button/button
mixin hero()
    .container
        .hero&attributes(attributes)
            .row.hero__background
                .col-12
                    .section-container
                        h1.hero__title Our Products Range