.hero
    
    position relative
    &__background
        background-color hero-background
    &__title
        font-size 62px
        padding-top 251px
        padding-bottom 47px
        letter-spacing -2px
        font-weight 100
        color text-black