svg-icon-black = #171717
svg-icon-white = #f7f7f7
gray-link = #8c8c8c
active-link = #212121
tag-green = #43a047
tag-blue = #1e88e5
tag-red = #e53935
text-black = #212121
text-gray = #6c6c6c
slider-nav-gray =#c7c7c7
footer = #f7f7f7
hero-background = #f5f5f5

sm = 540px
md = 720px
lg = 960px
// xl = 1140px
xl = 1366px
sm-bp = sm + 36px
md-bp = md + 48px
lg-bp = lg + 32px
xl-bp = xl - 30px
gutter = 15px

section-padding  = 83px