.promo-product
    display flex
    &__item
        position relative
        font-size 0
        // width 50%
        // display flex
    &__text-container
        display flex
        position absolute
        height 100%
        width 100%
        top 0
    &__btn
        @media (min-width sm-bp)
            margin-bottom 30px
    &__text
        align-self center
        position absolute
        padding 15px
        // top 0
        @media (min-width sm-bp)
            padding-left 50px
    &__tag
        color tag-blue
        font-weight 700
        font-size 18px
        text-transform uppercase
        letter-spacing 1.5px
        // margin-top 223px
        margin-bottom 13px

    &__title
        font-size 36px
        letter-spacing -1px
        font-weight bold    
        color text-black  
        margin-bottom 13px
    &__details
        color text-gray 
        font-weight 300
        font-size 14px
        line-height 1.8
        letter-spacing -0.1px
        margin-bottom 26px