.trending-products
    // padding-left 98px
    padding-top 103px
    padding-bottom 90px
    // padding-right 98px

    &__btn-ghost
        float right
        padding 28px 0 0 0
    &__header
        display flex
        justify-content space-between
        align-items flex-end
    &__link
        display block
        overflow hidden
     
    &__title
        font-size 35px
        letter-spacing -0.7px
        font-weight bold    
        color text-black
        padding-bottom 3px          
    &__container
        display flex
        justify-content space-between
        align-items flex-end
        margin-top 64px
        flex-wrap wrap
    &__item
        // width 370px
        // height 370px
        margin-bottom 27px
        overflow hidden
    &__img
        width 100%
        transition all .3s
    &__img:hover
        transform scale(1.1)


        
        
