mixin icon(iconName, isBlock, svgClass)
	//- if isBlock
	svg&attributes(attributes)
		use(xlink:href=dir + 'assets/images/icon.svg#icon_#{iconName}' class=svgClass)
	//- else
	//- 	+e('svg')&attributes(attributes)
	//- 		use(xlink:href=dir + '/assets/images/icon.svg#icon_#{iconName}' class=svgClass)
